In [11]:
import pandas as pd

In [12]:
# 공에 대한 정보를 저장하고 있는 엑셀파일 두 개를 읽어
# 각각 df1, df2로 저장하라

df1 = pd.read_excel("sample/ball_data_01.xlsx")
df2 = pd.read_excel("sample/ball_data_02.xlsx")

In [13]:
# 생성한 df1과 df2를 하나의 데이터 프레임(df)으로 합친 후 출력하라

df = pd.concat([df1,df2])

df

    number    size   color  weight
0       32  medium     red  151.50
1       31   large   green  968.28
2       19   large   green  935.54
3       45  medium   green  452.18
4       90   large  yellow  772.95
..     ...     ...     ...     ...
95      56  medium     NaN  210.00
96      25   small    blue  891.86
97      69   small  yellow  474.97
98      66   large     red  422.77
99       7  medium  yellow  559.11

[200 rows x 4 columns]

In [14]:
# 구성한 데이터 프레임 df의 자료를 보고 누락자료를 처리하라
# 누락자료를 확인하기 위한 코드

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 99
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   number  200 non-null    int64
 1   size    192 non-null    object
 2   color   194 non-null    object
 3   weight  189 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 7.8+ KB

In [15]:
# 확인한 누락자료의 처리 코드
# 누락자료 처리를 위해 선택한 방법에 대해 타당한 이유를 설명하라

# 컬러에 문자열이 있기 때문에 누락 자료를 처리하는 방법 중 fillna(0)으로 NaN값을 0으로 주기보다는 dropna()로 NaN 값이 있는 행을 날려버리는게 더 현명하다고 판단함.

df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175 entries, 0 to 99
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   number  175 non-null    int64
 1   size    175 non-null    object
 2   color   175 non-null    object
 3   weight  175 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.8+ KB

In [16]:
# 데이터 프레임(df)에서 색(color)의 종류는 몇가지가 있는 지 알아보아라.
# 출력은 결과 화면과 같이 나오도록 한다.

df_c = df['color'].drop_duplicates()
print("색 종류는 4가지, "+df_c.iloc[0]+","+df_c.iloc[1]+","+df_c.iloc[2]+","+df_c.iloc[3])

색 종류는 4가지, red,green,yellow,blue

In [17]:
# 색(color) 중 빨간색(red)이 가장 많은 공 크기(size)를 알아내는 코드를 작성하여 결과를 출력하라.
# 빨간색 공 중에서 어떤 크기의 공이 제일 많이 나왔는가?
#df[df['color']=='red' & df['size'].mode]
df_r = df[df['color'] =="red"] 
df_r['size'].mode()

0    medium
Name: size, dtype: object

In [18]:
# df에서 색(color)과 크기(size)별 무게(weight)의 평균을 알아보는
# 피봇 테이블(df_pivot)을 만들고 출력하라

df_pivot = pd.pivot_table(df, index='color' ,columns='size', values='weight', aggfunc='mean')
df_pivot

size         large      medium       small
color
blue    547.274444  601.584000  579.343077
green   601.254118  472.906429  567.427059
red     616.397143  506.465294  555.893333
yellow  617.807143  637.842727  569.370000

In [19]:
# df에서 공번호(number)에 대해 크기(size)별 각 색(color)의 갯수을 알아보는
# 피봇 테이블(df_pivot)을 만들고 출력하라

df_pivot = pd.pivot_table(df, index=['number','size'] ,columns='color', values='color', aggfunc='count',fill_value=0)
df_pivot

color          blue  green  red  yellow
number size
1      medium     0      0    0       1
2      medium     0      0    1       0
       small      0      0    1       0
3      large      1      0    0       0
       medium     0      1    1       0
...             ...    ...  ...     ...
96     medium     1      0    0       0
98     small      0      0    0       1
99     large      0      0    0       1
       medium     0      0    0       1
100    small      0      1    0       0

[135 rows x 4 columns]

In [20]:
# 상관관계 분석해보기
# 데이터 프레임(df)에서 공번호(number), 크기(size), 색(color), 무게(weight)의 관계를 알아보아라
# 정답은 없으며 어떻게 분석했는 지 과정이 중요함

In [21]:
# df의 데이터를 공의 크기(size)별로 분류해
# 각각 df_small, df_medium, df_large로 분리하라

df_sm = df[df['size']=='small']
df_md = df[df['size']=='medium']
df_lg = df[df['size']=='large']

df_sm

    number   size   color  weight
5       39  small  yellow  370.76
7        6  small    blue  735.19
9        7  small  yellow  497.96
10      19  small   green  736.57
16      57  small   green  385.55
18      80  small     red  816.67
21      32  small    blue  320.46
30      19  small   green  689.29
32      44  small   green  697.70
36      93  small   green  512.81
38      40  small    blue  180.29
41      22  small    blue  327.40
43      47  small     red  192.46
47      49  small  yellow  807.51
50      80  small  yellow  737.05
56      70  small   green  530.70
60      75  small   green  934.58
67      92  small     red  599.15
73      84  small    blue  899.95
75     100  small   green  422.03
76      24  small   green  550.67
80       9  small   green  150.42
85      86  small  yellow  191.47
86      57  small   green  158.80
91      42  small  yellow  895.14
93       6  small  yellow  691.91
94      75  small     red  638.33
95      47  small     red  391.13
97      84  small   green  834.48
2       54  small    blue  606.68
5       90  small    blue  178.02
9       68  small     red  320.47
10      49  small   green  371.56
15      32  small    blue  592.01
44      80  small   green  578.91
45      78  small  yellow  383.45
46      43  small    blue  404.66
55      58  small   green  643.01
57      27  small  yellow  725.79
58      98  small  yellow  267.44
60      80  small     red  533.12
61      17  small    blue  676.06
68      44  small   green  697.02
69      77  small    blue  774.81
70      24  small     red  633.53
74      91  small     red  540.31
76      67  small     red  853.10
77       2  small     red  269.89
79      93  small  yellow  612.74
82      40  small   green  752.16
88      73  small    blue  944.07
92      23  small     red  882.56
94      44  small  yellow  745.62
96      25  small    blue  891.86
97      69  small  yellow  474.97